@charset "UTF-8";
@font-face {
  font-family: Pacifico;
  src: url(./fonts/Pacifico/Pacifico.ttf);
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: Pacifico;
}

.container {
  margin-bottom: 2rem;
  position: relative;
}

.hero {
  min-height: 100vh;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ffe2c0), to(#fff));
  background-image: linear-gradient(to bottom, #ffe2c0, #fff);
  overflow: hidden;
  position: relative;
}

.hero .balloons {
  position: absolute;
  bottom: -10rem;
  height: 90vh;
  display: block;
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
}

.hero .balloons.left {
  left: 0;
  -webkit-animation: leftToRight 5s linear infinite alternate;
          animation: leftToRight 5s linear infinite alternate;
}

.hero .balloons.right {
  right: 0;
  -webkit-animation: rightToLeft 5s linear infinite alternate;
          animation: rightToLeft 5s linear infinite alternate;
}

.hero .text-container {
  text-align: center;
  color: #b94639;
  font-size: 5rem;
  position: absolute;
  top: 55%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
}

.hero .text-container .greeting-text {
  font-size: 5rem;
  font-weight: lighter;
}

.hero .text-container .btn {
  color: #fff;
  display: inline-block;
  padding: 2rem 5rem;
  border-radius: 3rem;
  border: none;
  font-size: 1.6rem;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  background-color: #fea88f;
  cursor: pointer;
}

.hero .text-container .btn:active {
  -webkit-transform: scale(0.98);
          transform: scale(0.98);
}

.animation marquee span {
  margin: 3rem;
  font-size: 2.5rem;
}

.timeline {
  text-align: center;
  position: relative;
  max-width: 80%;
  margin: 0 auto;
  margin-bottom: 4rem;
}

.timeline h1 {
  font-size: 5rem;
}

.timeline .timeline-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.timeline .timeline-box .timeline-line {
  width: 1rem;
  height: auto;
  background-color: #000;
  border-radius: 1rem;
}

.timeline .timeline-box .timeline-text {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  text-align: left;
}

.timeline .timeline-box .timeline-text .box {
  position: relative;
  width: 100%;
  padding-left: 3rem;
  margin-bottom: 2rem;
}

.timeline .timeline-box .timeline-text .box:before {
  content: "";
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translate(-100%, -50%);
          transform: translate(-100%, -50%);
  width: 1rem;
  height: 1rem;
  background-color: #fff;
  border-radius: 50%;
  z-index: 10;
}

.timeline .timeline-box .timeline-text .box h1 {
  font-size: 4rem;
}

.timeline .timeline-box .timeline-text .box p {
  font-size: 2rem;
}

.letter {
  width: 90vw;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #bcd9df;
  color: #e91e63;
  padding: 7rem;
  margin-bottom: 3rem;
  border-radius: 1rem;
}

.letter .letter-box {
  border-radius: 1rem;
  width: 100%;
  background-color: #fff;
  padding: 5rem;
  -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem;
}

.letter .letter-box .imgbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40%;
}

.letter .letter-box .imgbox img {
  border-radius: 1rem;
  width: 100%;
  height: 40rem;
  -o-object-fit: cover;
     object-fit: cover;
}

.letter .letter-box .box {
  width: 60%;
}

.letter .letter-box .box h1 {
  font-size: 2.5rem;
}

.letter .letter-box .box p {
  font-size: 2.2rem;
}

.gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.gallery h1 {
  font-size: 3rem;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  margin-bottom: 2rem;
}

.gallery .imgbox {
  width: 80vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.gallery .imgbox .box {
  position: relative;
  border-radius: 1rem;
  margin: 1rem;
  width: 30rem;
  min-width: 25rem;
  height: 40rem;
  background-color: red;
  background-size: cover;
  -o-object-fit: cover;
     object-fit: cover;
  margin-bottom: 4rem;
  cursor: pointer;
}

.gallery .imgbox .box::before {
  content: "💖";
  font-size: 3rem;
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

@-webkit-keyframes leftToRight {
  0% {
    -webkit-transform: translateX(-5%) rotate(-10deg);
            transform: translateX(-5%) rotate(-10deg);
  }
  100% {
    -webkit-transform: translateX(5%) rotate(10deg);
            transform: translateX(5%) rotate(10deg);
  }
}

@keyframes leftToRight {
  0% {
    -webkit-transform: translateX(-5%) rotate(-10deg);
            transform: translateX(-5%) rotate(-10deg);
  }
  100% {
    -webkit-transform: translateX(5%) rotate(10deg);
            transform: translateX(5%) rotate(10deg);
  }
}

@-webkit-keyframes rightToLeft {
  0% {
    -webkit-transform: translateX(-5%) rotate(-10deg);
            transform: translateX(-5%) rotate(-10deg);
  }
  100% {
    -webkit-transform: translateX(5%) rotate(10deg);
            transform: translateX(5%) rotate(10deg);
  }
}

@keyframes rightToLeft {
  0% {
    -webkit-transform: translateX(-5%) rotate(-10deg);
            transform: translateX(-5%) rotate(-10deg);
  }
  100% {
    -webkit-transform: translateX(5%) rotate(10deg);
            transform: translateX(5%) rotate(10deg);
  }
}

@media (max-width: 1200px) {
  .hero .text-container .greeting-text,
  .hero .text-container p {
    font-size: 3.5rem;
  }
  .hero .text-container .btn {
    font-size: 1.3rem;
  }
}

@media (max-width: 1000px) {
  .hero .balloons {
    height: 80vh;
  }
  .hero .balloons.left {
    left: -5rem;
  }
  .hero .balloons.right {
    right: -5rem;
  }
}

@media (max-width: 750px) {
  .hero .text-container {
    top: 30%;
  }
  .hero .balloons.left {
    left: 0;
  }
  .hero .balloons.right {
    right: 0;
  }
}

@media (max-width: 600px) {
  .hero .balloons {
    height: 70vh;
  }
  .hero .text-container {
    top: 30%;
  }
  .hero .text-container .greeting-text,
  .hero .text-container p {
    font-size: 2.5rem;
  }
  .hero .text-container p {
    margin-bottom: -2rem;
  }
  .hero .text-container .btn {
    font-size: 1rem;
    padding: 1.3rem 4rem;
  }
}

@media (max-width: 350px) {
  .hero .text-container {
    top: 30%;
  }
  .hero .text-container .greeting-text,
  .hero .text-container p {
    font-size: 2rem;
  }
  .hero .text-container .btn {
    font-size: 0.9rem;
  }
}

@media (max-width: 1200px) {
  .timeline .timeline-box .timeline-text .box h1 {
    font-size: 3rem;
  }
}

@media (max-width: 1050px) {
  .timeline h1 {
    font-size: 4rem;
    margin-bottom: 2rem;
  }
  .timeline .timeline-box .timeline-text .box h1 {
    font-size: 3rem;
  }
  .timeline .timeline-box .timeline-text .box p {
    font-size: 1.5rem;
  }
}

@media (max-width: 650px) {
  .timeline {
    max-width: 95%;
  }
  .timeline h1 {
    font-size: 3rem;
  }
  .timeline .timeline-box .timeline-text .box h1 {
    font-size: 2.5rem;
  }
  .timeline .timeline-box .timeline-text .box p {
    font-size: 1.5rem;
  }
}

@media (max-width: 550px) {
  .timeline .timeline-box .timeline-text .box h1 {
    font-size: 2rem;
  }
  .timeline .timeline-box .timeline-text .box p {
    font-size: 1.2rem;
  }
}

@media (max-width: 1100px) {
  .letter .letter-box .box p {
    font-size: 1.8rem;
  }
}

@media (max-width: 980px) {
  .letter .letter-box {
    padding: 3rem;
  }
  .letter .letter-box .imgbox {
    width: 50%;
  }
  .letter .letter-box .box {
    width: 50%;
  }
  .letter .letter-box .box p {
    font-size: 1.6rem;
  }
}

@media (max-width: 980px) {
  .letter .letter-box {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .letter .letter-box .imgbox {
    width: 100%;
  }
  .letter .letter-box .box {
    width: 100%;
  }
}

@media (max-width: 750px) {
  .letter {
    padding: 2rem;
    width: 90vw;
  }
}

@media (max-width: 380px) {
  .letter .letter-box .box h1 {
    font-size: 2rem;
  }
  .letter .letter-box .box h1 span {
    display: none;
  }
}

@media (max-width: 650px) {
  .gallery {
    margin-top: 3rem;
  }
  .gallery h1 {
    font-size: 2rem;
  }
}
/*# sourceMappingURL=main.css.map */